<div id="dtBank" class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card card-upgrade">
      <div class="card-header text-center">
        <h4 class="card-title">Data Bank</h3>
          <p class="card-category text-normal">These are the cryptocoins and the currency that are quoted. Also included
            the status in the own databank.</p>
      </div>
      <div class="card-body">
        <div class="table-responsive table-upgrade">
          <table class="table">
            <thead>
              <th></th>
              <th class="text-center">Final Id</th>
              <th class="text-center">Actual Id</th>
              <th class="text-center">Save in DB?</th>
            </thead>
            <tbody>
              <tr>
                <td>         </td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Adding the script tag to the head as suggested before
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = "assets/js/traderox/dataBank.js";

    // Then bind the event to the callback function.
    // There are several events for cross browser compatibility.

    // Fire the loading
    document.head.appendChild(script);
  </script>